<mat-card id="dashboard">
  <mat-card-header>
    <mat-card-title style="margin-left: 32px;"> BTC Converter</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <div fxFlex="30" *ngIf="btc | async as b" style="margin-left: 50px; margin-top: 20px; width: 550px">
      <h3>Current BTC information BTC-Informationen: </h3>
      <div>
        <span>Current price: {{b['EUR'].buy}}€</span>
        <span style="margin-left: 20px;">Last price: {{b['EUR'].last}}€</span>
      </div>

      <br>
      <span>Currency: BTC</span>
      <br>
      <span *ngIf="marketcap | async as m">Market Cap: {{m | numberSuffix}}</span>
      <br>
      <span *ngIf="volumeBTC | async as v">Volume-BTC: {{v | numberSuffix}}</span>
      <br>

      <mat-form-field class="drop-down" appearance="fill" style="margin-top: 30px; width: 550px">
        <mat-label>--Currency--</mat-label>
        <mat-select name="waehrung" [(ngModel)]="waehrung">
          <mat-option *ngFor="let w of waehrungen" [value]="w" (click)="waehrungAuswaehlen(w)">
            {{w}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" style="margin-top: 20px; width: 550px">
        <mat-label>Amount to be changed</mat-label>
        <input matInput #first type="number" [(ngModel)]='betrag'>
        <mat-hint *ngIf="waehrung === undefined">No currency selected</mat-hint>
      </mat-form-field>
      <div style="margin-left: 15px; margin-top: 20px">
        <button [disabled]="false" color="warn" mat-raised-button (click)="calcResult(betrag)">
          Convert
        </button>
        <button style="margin-left: 15px; margin-top: 20px" [disabled]="false" color="warn" mat-raised-button
                (click)="reset()">
          Reset
        </button>
      </div>
      <br>
      <div *ngIf="erg | async as result" style="margin-top: 40px">
        <h4>The result of the conversion is: {{result}} BTC</h4>
      </div>
    </div>

    <div *ngIf="priceArray | async as price" fxFlex="70" style="margin-left: 150px; margin-top: -40px">
      <h3>Market Price (USD)</h3>
      <br>
      <span>Average USD market price across major bitcoin exchanges.</span>
      <br>
      <td-chart style="width: 1000px; height: 440px">
        <td-chart-x-axis [show]="true"
                         [type]="'time'">
        </td-chart-x-axis>
        <td-chart-y-axis [show]="true"
                         [type]="'value'">
        </td-chart-y-axis>
        <td-chart-series td-line
                         [name]="'name'"
                         [data]="price"
                         [color]="'#F2724B'">
        </td-chart-series>
      </td-chart>
    </div>

  </mat-card-content>

</mat-card>

