<mat-card id="dashboard">
  <mat-card-header>
    <mat-card-title> BTC Chart</mat-card-title>
  </mat-card-header>
  <mat-card-content *ngIf="btcChartData | async as chartData">
    {{chartData | json}}
    <td-chart style="width: 1000px; height: 700px">
      <td-chart-x-axis [show]="true"
                       [type]="'time'">
      </td-chart-x-axis>
      <td-chart-y-axis [show]="true"
                       [type]="'value'">
      </td-chart-y-axis>
      <td-chart-series td-line
                       [name]="'name'"
                       [data]="[{
                'name': '2018-10-29T03:27:33.932Z',
                'value': [
                  '2018-10-29T03:27:33.932Z',
                  200
                ]
              }, {
                'name': '2018-10-30T03:27:33.932Z',
                'value': [
                  '2018-10-30T03:27:33.932Z',
                  50
                ]
              },{
                'name': '2018-10-31T03:27:33.932Z',
                'value': [
                  '2018-10-31T03:27:33.932Z',
                  100
                ]
              }]"
                       [color]="'#F2724B'">
      </td-chart-series>
    </td-chart>
  </mat-card-content>
</mat-card>

