/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --primary-color: #173E5E;
    --accent-color:#4F92DE;
    --warn-color:rgb(255, 182, 46);
    --white-color: #FFFFFF
  }  
  

  .mat-toolbar.mat-primary {
    background: #173E5E;
    color: #fff;
  }